<div class="container">
  <h2 class="text-center py-5">Covid cases in <%= @results[0]['Country'] %> on the last <%= @results[1] %> days </h2>
</div>
<div class="container my-4 w-50 justify-content-center">
  <div class="row align-items-start individual-cards">
    <div class="col border rounded-top-custom mr-2 d-flex flex-column shadow">
      <p class="card-text text-left mb-0"><strong>Confirmed</strong></p>
      <p> <i class="fas fa-check-circle"></i> <%= number_with_delimiter(@results[0]['Confirmed'], :delimiter => ',') %> cases</p>
    </div>
    <div class="col border rounded-top-custom mr-2 d-flex flex-column shadow">
      <p class="card-text text-left mb-0"><strong>Deaths</strong></p>
      <p> <i class="fas fa-check-circle"></i> <%= number_with_delimiter(@results[0]['Deaths'], :delimiter => ',') %> cases</p>
    </div>
    <div class="col border rounded-top-custom mr-2 d-flex flex-column shadow">
      <p class="card-text text-left mb-0"><strong>Recovered</strong></p>
      <p> <i class="fas fa-check-circle"></i> <%= number_with_delimiter(@results[0]['Recovered'], :delimiter => ',') %> cases</p>
    </div>
    <div class="col border rounded-top-custom mr-2 d-flex flex-column shadow">
      <p class="card-text text-left mb-0"><strong>Active</strong></p>
      <p> <i class="fas fa-check-circle"></i> <%= number_with_delimiter(@results[0]['Active'], :delimiter => ',') %> cases</p>
  </div>
</div>

<div class="container border my-5 shadow">
  <div class="row center p-5">
    <div class="col-xs-12">
      <h2 class="py-4">My messages</h2>
      <div class="container d-flex">
        <%= link_to 'Add Tweet', new_message_path, remote: true, class: "btn btn-primary mr-5"  %>
        <%= link_to 'Logout', destroy_user_session_path, method: :delete, class:"btn btn-primary"%>
      </div>
      <% @messages.each do |message| %>
        <div class="message-container pt-4" id="message-<%= message.id %>">
          <i class="author">
            <span>User: <%= message.user.email %></span>
            <small><%= message.created_at.strftime("%a %b %e at %l:%M%p") %></small>
          </i>
          <p> >> <%= message.content %></p>
        </div>
      <% end %>

    </div>
  </div> 
</div>

<!-- Modal -->
<div class="modal fade" id="newModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add your Message</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= render partial: 'form' %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
